
# iyzico
IYZICO_API_KEY=
IYZICO_SECRET_KEY=
IYZICO_BASE_URL=https://sandbox.iyzipay.com

# PayTR
PAYTR_MERCHANT_ID=
PAYTR_MERCHANT_KEY=
PAYTR_MERCHANT_SALT=
PAYTR_SUCCESS_URL=https://app.wellbeingmetric.com/consultant/billing?payment=success
PAYTR_FAIL_URL=https://app.wellbeingmetric.com/consultant/billing?payment=failed
